{% extends 'base.html' %}

{% block body %}
    <div class="row">
        <div class="col-md-4">
            <img src="{{ music.cover }}" alt="cover" />
            <p>Title: {{ music.title }}</p>
            <p>Album: {{ music.album }}</p>
            <p>Genre: {{ music.genre }}</p>
            <p>Artist: {{ music.artist }}</p>
            <p>Year: {{ music.year }}</p>
        </div>
        <div class="col-md-4">
            {% if music.lyrics %}
                <p>{{ music.lyrics }}</p>
            {% else %}
                <p align="middle">Your lyrics here!</p>
            {% endif %}
        </div>
        <div class="col-md-4">
            {% if music.video %}
                {{ music.video }}
            {% else %}
                <p align="middle">Your video is here!</p>
            {% endif %}
        </div>
    </div>
    <div class="well row">
        <div class="col-md-5">
            <h4>Add lyrics & video:</h4>
            {% from "_formhelpers.html" import render_field %}
            <form method="post" action="">
                <div class="form-group">
                    {{ render_field(music_additional_form.lyrics, class = "form-control", placeholder = "Y") }}
                </div>
                <div class="form-group">
                    {{ render_field(music_additional_form.video, class = "form-control") }}
                </div>
                <p><input type=submit class="btn btn-primary" value=Submit></p>
            </form>
        </div>
        <div class="col-md-5">
            <h4>Edit song:</h4>
            {% from "_formhelpers.html" import render_field %}
            <form method="post" action="{{ url_for('post_music') }}">
                <div class="form-group">
                    {{ render_field(music_form.title, class = "form-control") }}
                </div>
                <div class="form-group">
                    {{ render_field(music_form.artist, class = "form-control") }}
                </div>
                <div class="form-group">
                    {{ render_field(music_form.genre, class = "form-control") }}
                </div>
                <div class="form-group">
                    {{ render_field(music_form.album, class = "form-control") }}
                </div>
                <div class="form-group">
                    {{ render_field(music_form.year, class = "form-control", type = 'number') }}
                </div>
                <div class="form-group">
                    {{ render_field(music_form.cover, class = "form-control", type = 'url') }}
                </div>
                <p><input type=submit class="btn btn-primary" value=Submit></p>
            </form>
        </div>
        <div class="col-md-2">
            DELETE
        </div>
    </div>
{% endblock %}