{% extends 'base.html' %}

{% block body %}
    <div class="row">
        <div class="col-md-2">
            {% if music.cover %}
                <img src="{{ music.cover }}" alt="cover" />
            {% else %}
                <span class="glyphicon glyphicon-cd" aria-hidden="true"></span>
            {% endif %}
            <p>Title: {{ music.title }}</p>
            <p>Album: {{ music.album }}</p>
            <p>Genre: {{ music.genre }}</p>
            <p>Artist: {{ music.artist }}</p>
            <p>Year: {{ music.year }}</p>
        </div>
        <div class="col-md-5">
            {% if music.lyrics %}
                <pre>{{ music.lyrics }}</pre>
            {% else %}
                <p align="middle">Your lyrics here!</p>
            {% endif %}
        </div>
        <div class="col-md-4">
            {% if music.video %}
                <iframe width="480" height="360" src="{{ music.video | replace("watch?v=", "embed/") }}" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
            {% else %}
                <p align="middle">Your video is here!</p>
            {% endif %}
        </div>
    </div>
    <div class="well row">
        {% from "_formhelpers.html" import render_field %}
        <form method="post" action="{{ url_for('details', id=music.id) }}">
            <div class="col-md-6">
                <h4>Edit song:</h4>
                <div class="form-group">
                    {{ render_field(music_form.title, class = "form-control", value = music.title) }}
                </div>
                <div class="form-group">
                    {{ render_field(music_form.artist, class = "form-control", value = music.artist) }}
                </div>
                <div class="form-group">
                    {{ render_field(music_form.genre, class = "form-control", value = music.genre) }}
                </div>
                <div class="form-group">
                    {{ render_field(music_form.album, class = "form-control", value = music.album) }}
                </div>
                <div class="form-group">
                    {{ render_field(music_form.year, class = "form-control", type = 'number', value = music.year) }}
                </div>
                <div class="form-group">
                    {{ render_field(music_form.cover, class = "form-control", type = 'url', value = music.cover) }}
                </div>
            </div>
            <div class="col-md-6">
                <h4>Add lyrics & video:</h4>
                <div class="form-group">
                    {{ render_field(music_form.video, class = "form-control", value = music.video) }}
                </div>
                <div class="form-group">
                    {{ render_field(music_form.lyrics, class = "form-control", value = music.lyrics) }}
                </div>
                <p><input type=submit class="btn btn-primary" value=Edit></p>
            </div>
        </form>
        <form action="{{url_for('delete_music', id=music.id)}}" method="post">
            <div class="col-md-6">
            <input class="btn btn-danger" onclick="return confirm('Are you sure?')" type="submit" value="Delete" />
            </div>
        </form>
    </div>
{% endblock %}